/* shared styles */
* {
    font-family: 'Open Sans', sans-serif;
}

.primary-color {
    color: #FD6E0A;
}

.primary-btn {
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    padding: 16px 35px;
}

.weighty {
    /* margin: 0 200px; */
    width: 80%;
    margin: 0 auto;
}

.ctitle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

/* nav style section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
}


.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 15px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}

.banner-text {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner .banner-img {
    width: 500px;
    height: 600px;
}

/* header-background */
.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    margin-bottom: 130px;
}

.about {
    text-align: center;
    border-radius: 10px;
    background: #FFF8F3;
    height: 500px;
    padding: 130px 150px;
    box-sizing: border-box;
}